.new-view-btn {
  border: 1px solid white;
  background-color: rgb(38, 173, 194);
  border-radius: 0px;
  color: white;
}

.new-view-btn:hover {
  background-color: #e31b6d;
  color: white;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.view-work :hover {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: background-color 600ms linear;
  -ms-transition: background-color 60000ms linear;
  transition: background-color 600ms linear;

  color: red;
  -webkit-transition: color 600ms linear;
  -ms-transition: color 600ms linear;
  transition: color 600ms linear;
}

/* CENTERING */
@keyframes animatedBackground {
  from {
    background-position: 50% 0;
  }
  to {
    background-position: 100% 0;
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  letter-spacing: 6px;
}

/* BANNER */
.banner {
  height: 100vh;
  background: url('../../../images/elite.png');
  /* background: url('../../../images/elite.png'); */
  background-position: repeat;
  animation: animatedBackground 40s linear infinite;
}

.my-name {
  letter-spacing: 19px;
  font-size: 50px;
  font-weight: bold;
  padding: 4px;
  color: white;
  border-bottom: solid 1px rgb(38, 173, 194);
}

.seller {
  color: white;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 300;
}

.title {
  color: #e31b6d;
  background-color: white;
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 8px;
  margin-top: 30px;
}

@media only screen and (max-width: 1329px) {
  .title {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1216px) {
  .title {
    letter-spacing: 12px;
  }

  .view-work {
    width: 60%;
  }
}
@media only screen and (max-width: 748px) {
  .title {
    font-size: 24px;
  }
  .view-work {
    width: 80%;
  }

  .banner {
    animation: none;
  }
}
@media only screen and (max-width: 440px) {
  .my-name {
    font-size: 35px;
  }

  .view-work p {
    padding: 18px;
    letter-spacing: 5px;
  }
}
